.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    height: 100vh;
  }
  
  .track {
    display: flex; 
    flex-direction: column;
     width: 300px;
    margin-top: 10px;
  }